@model logic.systems.school.managment.Models.Student

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<h1>Create</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FatherName" class="control-label"></label>
                <input asp-for="FatherName" class="form-control" />
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatherName" class="control-label"></label>
                <input asp-for="MatherName" class="form-control" />
                <span asp-validation-for="MatherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonId" class="control-label"></label>
                <input asp-for="PersonId" class="form-control" />
                <span asp-validation-for="PersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentSchoolLevelId" class="control-label"></label>
                <input asp-for="CurrentSchoolLevelId" class="form-control" />
                <span asp-validation-for="CurrentSchoolLevelId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistrictId" class="control-label"></label>
                <input asp-for="DistrictId" class="form-control" />
                <span asp-validation-for="DistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SponsorId" class="control-label"></label>
                <input asp-for="SponsorId" class="form-control" />
                <span asp-validation-for="SponsorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedDate" class="control-label"></label>
                <input asp-for="UpdatedDate" class="form-control" />
                <span asp-validation-for="UpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Row" class="control-label"></label>
                <input asp-for="Row" class="form-control" />
                <span asp-validation-for="Row" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedUSer" class="control-label"></label>
                <input asp-for="CreatedUSer" class="form-control" />
                <span asp-validation-for="CreatedUSer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedUSer" class="control-label"></label>
                <input asp-for="UpdatedUSer" class="form-control" />
                <span asp-validation-for="UpdatedUSer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
