@model logic.systems.school.managment.Models.Student

@{
    ViewData["Title"] = "Criar estudante";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="studant">Lista de Estudantess</a><</li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Cadastrar Estudante</h2>

        </div>
    </div>
</div>

@* Classe, ano

Candidato ✅
Data de nascimento  ✅
Naturalidade, descrito, provincia,
Sexo
Nome do pai
Nome da mae
BI

encarregado
------------
Nome do encarregado de Eduçacao
Residencia de encaregado de educacao
Educacao
Conacto
    casa
    servicel
    pessoal *@
<form>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">


                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Nome completo</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Data de Nasciento</label>
                            <input type="date" class="form-control" id="validationCustom02" value="Otto" required>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Nacionalidade</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Província</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">Destrito</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-4">
                            <label for="validationCustom02">Sexo</label>
                            <select class="form-control form-control-lg pb-3 pt-3" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">Masculino</option>
                                <option value="2">Feminino</option>
                            </select>
                        </div>
                    </div> 

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="validationCustom01">BI</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Nome do pai</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Nome da mãe</label>
                            <input type="date" class="form-control" id="validationCustom02" value="Otto" required>
                        </div>
                    </div>

                    <hr />


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Nome do encarregado de Educação</label>
                            <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom02">Residência do encarregado de educação.</label>
                            <input type="date" class="form-control" id="validationCustom02" value="Otto" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom01">Contacto do encarregado de educação</label>
                            <input type="text" placeholder="Casa/serviço ou numero pessoal" class="form-control" id="validationCustom01" value="Mark" required>
                        </div>
                    </div>
 

                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-info">Cadastrar</button>
                        </div>
                    </div>
                </form>
                 

            </div>
        </div>
    </div>
</form>



@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script> *@
}

