@model logic.systems.school.managment.Models.Student

@{
    ViewData["Title"] = "Criar estudante";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="studant">Lista de Estudantess</a><</li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Cadastrar Estudante</h2>

        </div>
    </div>
</div>
 
<form>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">


                <form class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="">Nome completo</label>
                            <input type="text" class="form-control" id=""  required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Data de Nasciento</label>
                            <input type="date" class="form-control" id="" value="Otto" required>
                        </div>
                    </div>



                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="">Nacionalidade</label>
                            <input type="text" class="form-control" id=""  required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="">Província</label> 
                            <select class="form-control form-control-lg pb-3 pt-3"  id="provinces">
                                <option selected>... Escolha a Província </option>

                                @foreach (OrgUnitProvince item in ViewBag.Provinces)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }
                               
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="">Destrito</label>
                            <select class="form-control form-control-lg pb-3 pt-3" id="district">
                                <option selected>... Escolha a Província </option>

                                @foreach (OrgUnitProvince item in ViewBag.Provinces)
                                {
                                    <option value="@item.Id">@item.Description</option>
                                }

                            </select>
                        </div>
                    </div>


                    <div class="form-row mb-3">
                        <div class="col-md-4">
                            <label for="">Sexo</label>
                            <select class="form-control form-control-lg pb-3 pt-3">
                                <option selected>... Escolha o Sexo</option> 
                                  <option >Masculino</option>
                                <option >Feminino</option>
                            </select>
                        </div>
                    </div> 

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label for="">BI</label>
                            <input type="text" class="form-control" id=""  required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="">Nome do pai</label>
                            <input type="text" class="form-control" id=""  required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Nome da mãe</label>
                            <input type="date" class="form-control" id="" value="Otto" required>
                        </div>
                    </div>

                    <hr />


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="">Nome do encarregado de Educação</label>
                            <input type="text" class="form-control" id=""  required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="">Residência do encarregado de educação.</label>
                            <input type="date" class="form-control" id="" value="Otto" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="">Contacto do encarregado de educação</label>
                            <input type="text" placeholder="Casa/serviço ou numero pessoal" class="form-control" id=""  required>
                        </div>
                    </div>
 

                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span asp-validation-for="Gender" class="text-danger"></span>

                    <hr />
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="button" class="btn btn-info">Cadastrar</button>
                        </div>
                    </div>
                </form>
                 

            </div>
        </div>
    </div>
</form>
 


@section scripts {
    <script>
        $(document).ready(function () {
            // Quando uma categoria é selecionada, buscar os produtos correspondentes
            $("#provinces").change(function () {

                var ProvincesId = $("#provinces").val();

                $.ajax({
                    url: '/admin/GetDistricts',
                    type: 'GET',
                    data: { Id: ProvincesId },
                    success: function (districts) {
                        // Limpar e popular o dropdown de produtos
                      
                         $("#district").empty();
                        $.each(districts, function (index, result) {
                            $("#district").append($('<option>', {
                                value: result.id,
                                text: result.description
                            })); 
                        });
                    }
                });
            });
        });
    </script>
}