@model logic.systems.school.managment.Models.Student

@{
    ViewData["Title"] = "Criar estudante";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="studant">Lista de Estudantess</a><</li>
        <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-1">
            <h2>Cadastrar Estudante</h2>

        </div>
    </div>
</div>

@* Classe, ano

Candidato ✅
Data de nascimento  ✅
Naturalidade, descrito, provincia,
Sexo
Nome do pai
Nome da mae
BI

encarregado
------------
Nome do encarregado de Eduçacao
Residencia de encaregado de educacao
Educacao
Conacto
    casa
    servicel
    pessoal *@
<form>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                    <div class="col-6">

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-2 col-form-label">Nome completo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Data de Nasciento</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Naturalidade</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Província</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Destrito</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>
                        <fieldset class="form-group row">
                            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Sexo</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                    <label class="form-check-label" for="gridRadios1">
                                        Masculino
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                    <label class="form-check-label" for="gridRadios2">
                                        Feminino
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">BI</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Nome do pai</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Nome da mãe</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        @*                         <div class="form-group row">
                        <div class="col-sm-10 offset-sm-2">
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="gridCheck1">
                        <label class="form-check-label" for="gridCheck1">
                        Example checkbox
                        </label>
                        </div>
                        </div>
                        </div> *@
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-6">



                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Nome do encarregado de Educação</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Residência do encarregado de educação.</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPassword3">
                            </div>
                        </div>  

                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-2 col-form-label">Contacto do encarregado de educação .</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Casa/serviço ou numero pessoal" class="form-control" id="inputPassword3">
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
