<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Relatórios</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Lista de Relatórios</h2>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card w-50">
        <div class="card-body pb-2 pt-2">

            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">

                            <button type="submit" class="btn btn-info btn-icon-text btn-block" id="baixarRelatorio">
                                Relatório de Fecho de contas  diário (Data: @DateTime.Now.ToString("dd/MM/yyyy")) DD/MM/AAAA
                            </button>
                            <div id="spinner" style="display:none">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item mt-3">
                            <a asp-action="PaymentTuitionList" asp-controller="Document">
                                <button type="button" class="btn btn-info btn-icon-text btn-block">
                                    Relatório de Fecho de contas
                                </button>
                            </a> 
                        </li> 
                    </ul>
                    <hr />
                    <ul class="list-group">
                        <li class="list-group-item">

                            <button type="submit" class="btn btn-info btn-icon-text btn-block" id="downloadsuspended">
                                Relatório de Estudantes Suspensos
                            </button>

                            <div id="spinner_suspended" style="display:none">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </li> 
                    </ul>
                </div> 
            </div>



        </div>
    </div>
</div>





@section scripts {
    <script>


        $("#downloadsuspended").click(function () {

            $("#downloadsuspended").hide();
            $("#spinner_suspended").show();

            $.ajax({
                type: "GET",
                url: "/Document/downloadsuspended",
                xhrFields: {
                    responseType: 'blob' // Configuração para tratar a resposta como um blob
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Relatório de Estudantes Suspensos.xlsx';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);


                    $("#downloadsuspended").show();
                    $("#spinner_suspended").hide();
                },
                error: function (error) {
                    console.error('Erro ao baixar o relatório:', error);

                    $("#downloadsuspended").show();
                    $("#spinner_suspended").hide();
                }
            });

        });


        $("#baixarRelatorio").click(function () {

            $("#baixarRelatorio").hide();
            $("#spinner").show();

            $.ajax({
                type: "GET",
                url: "/Document/PaymentTuitionListDaily",
                xhrFields: {
                    responseType: 'blob' // Configuração para tratar a resposta como um blob
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Relatorio de Fecho de contas  diário.xlsx';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);


                    $("#baixarRelatorio").show();
                    $("#spinner").hide();
                },
                error: function (error) {
                    console.error('Erro ao baixar o relatório:', error);

                    $("#baixarRelatorio").show();
                    $("#spinner").hide();
                }
            });

        });




                         
    </script>
}