<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Lista de Relatórios</li>
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0 pt-2">
            <h2>Lista de Relatórios</h2>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-2 pt-2">

            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <form asp-action="PaymentTuitionListDaily" asp-controller="Document">

                                <button type="submit" class="btn btn-info btn-icon-text btn-block">
                                    Relatorio de Fecho de contas  diário (Data: @DateTime.Now.ToString("dd/MM/yyyy")) DD/MM/AAAA
                                </button>

                            </form>
                        </li>
                        <li class="list-group-item mt-3">
                            @*  <a asp-action="PaymentTuitionList" asp-controller="Document">
                            <button type="button" class="btn btn-info btn-icon-text btn-block">
                            Relatorio de Fecho de contas
                            </button>
                            </a> *@

                            <button type="button" class="btn btn-info btn-icon-text btn-block" id="baixarRelatorio">
                                Relatorio de Fecho de contas
                            </button>
                            <div id="spinner" style="display:none">
                                <div class="d-flex justify-content-center">
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-md-2">
                </div>
            </div>



        </div>
    </div>
</div>





@section scripts {
    <script>

         

        $("#baixarRelatorio").click(function () {

            $("#baixarRelatorio").hide();
            $("#spinner").show();

            $.ajax({
                type: "GET",
                url: "/Document/PaymentTuitionListDaily",
                xhrFields: {
                    responseType: 'blob' // Configuração para tratar a resposta como um blob
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = 'Relatorio de Fecho de contas  diário.xlsx';
                    document.body.appendChild(link);
                    link.click();
                    document.body.removeChild(link);


                    $("#baixarRelatorio").show();
                    $("#spinner").hide();
                },
                error: function (error) {
                    console.error('Erro ao baixar o relatório:', error);

                    $("#baixarRelatorio").show();
                    $("#spinner").hide();
                }
            });

        });




                    //    return File(content, "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", ReportName);




                                    // $.ajax({
                                    //     url: '/Document/PaymentTuitionListDaily',
                                    //     type: 'POST',
                                    //     success: function (data) {
                                    //         // // Cria um link temporário para iniciar o download
                                    //         // var a = document.createElement('a');
                                    //         // var url = window.URL.createObjectURL(data);
                                    //         // a.href = url;
                                    //         // a.download = 'relatorio.xlsx';
                                    //         // document.body.appendChild(a);
                                    //         // a.click();
                                    //         // window.URL.revokeObjectURL(url);
                                    //         // document.body.removeChild(a);
                                    //     },
                                    //     error: function () {
                                    //         alert('Erro ao baixar o relatório.');
                                    //     }
                                    // });

                                    // $.ajax({
                                    //     url: '/admin/GetDistricts',
                                    //     type: 'GET',
                                    //     success: function (districts) {
                                    //         $("#district").empty();
                                    //         $.each(districts, function (index, result) {
                                    //             $("#district").append($('<option>', {
                                    //                 value: result.id,
                                    //                 text: result.description
                                    //             }));
                                    //         });
                                    //     }
                                    // });
    </script>
}