@model logic.systems.school.managment.Dto.UpdateUserDTO


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">VISIALUZAÇÃO: Utilizador</li>
    </ol>
</nav>


<div class="card mb-4 shadow-1">
    <div class="card-header">
        <h4 class="card-header-title">
            Outras informações
        </h4>
    </div>
    <div class="card-body collapse show" id="collapse9">
        <div class="row">
            <div class="col-12">
                @await Html.PartialAsync("~/Views/Shared/_Alerts.cshtml")
            </div>
        </div>
        <div class="nav-tabs-top">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#navs-top-home">Dados Gerais</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile">Senha</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-profile_">Perfil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#navs-top-classRoom">Turmas e Disciplinas</a>
                </li>

            </ul>
            <div class="tab-content">
                <div class="tab-pane fade active show" id="navs-top-home">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" method="post" asp-action="updateInfoUser">
                                    <input type="hidden" asp-for="UserInfo.UserId" name="UserInfo.UserId" id="UserInfo.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label asp-for="UserInfo.Email"></label>
                                        <input asp-for="UserInfo.Email" name="UserInfo.Email" class="form-control form-control-sm" aria-required="true" />
                                        <span asp-validation-for="UserInfo.Email" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="tab-pane fade" id="navs-top-profile">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form id="registerForm" asp-action="UpdatePassword" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <div class="form-floating">
                                        <label> Nova senha</label>
                                        <input asp-for="PasswordDTO.NewPassword" name="PasswordDTO.NewPassword" class="form-control form-control-sm " aria-required="true" />
                                        <span asp-validation-for="PasswordDTO.NewPassword" class="text-danger"></span>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="navs-top-profile_">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="UpdateProfile" method="post">
                                    <input type="hidden" asp-for="PasswordDTO.UserId" name="PasswordDTO.UserId" id="PasswordDTO.UserId" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-floating">
                                        <label> Perfil </label>
                                        <select asp-for="RoleName" name="RoleName" class="form-control form-control-sm pb-3 pt-3" id="RoleName">
                                            @foreach (IdentityRole item in ViewBag.Roles)
                                            {
                                                <option value="@item.Name">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <fieldset class="border p-2">
                                        <legend class="w-auto">Ações</legend>
                                        <div class="template-demo">
                                            <button type="submit" class="btn mt-2  btn-sm btn-info btn-icon-text">
                                                Actualizar
                                                <i class="typcn typcn-edit btn-icon-append"></i>
                                            </button>
                                            <a class="btn  btn-sm btn-light btn-icon-text" href="/users">
                                                Ir para lista
                                            </a>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                
                <div class="tab-pane fade" id="navs-top-classRoom">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6col-sm-12">
                                todo: relacao de cadeiras e turmas
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


