@model logic.systems.school.managment.Dto.StudentPageDto
@{
    ViewData["Title"] = "Dashboard";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li> 
    </ol>
</nav>

<form asp-action="search" asp-controller="studant">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Filtrar pelo pelo nome do estudante" asp-for="studentName">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <div class="input-group">

                                <select class="form-control form-control-lg pb-3 pt-2" asp-for="CurrentSchoolLevelId" id="SelectSchoolLevel">
                                    <option selected>... Filtrar pela classe do estudante</option>
                                    @foreach (SimpleEntity item in ViewBag.CurrentSchoolLevels)
                                    {
                                        <option value="@item.Id">@item.Description</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <button type="submit" class="btn btn-info btn-icon-text">
                            Pesquisar
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0">
            <label>Multas por meses (@DateTime.Now.Year)</label>
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </div>
</div>
 




@section scripts {

    <script>

         

        $(document).ready(function () { 
                $.ajax({
                    url: '/home/getfeeBymonth',
                    type: 'GET', 
                    success: function (results) {
                        console.log(results);
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        theme: "light2", // "light1", "light2", "dark1", "dark2"
                        title: {
                             
                        },
                        axisY: {
                            title: "MT"
                        },
                        data: [{
                            type: "column",
                            showInLegend: true,
                            legendMarkerColor: "grey",
                            legendText: "Meses",
                            dataPoints: results
                        }]
                    });
                    chart.render();
                    }
                }); 
        });
        
        // $(document).ready(function () {
        //     var chartx = new CanvasJS.Chart("chartContainerx", {
        //         theme: "light2", // "light1", "light2", "dark1", "dark2"
        //         exportEnabled: true,
        //         animationEnabled: true,
        //         title: {
        //             text: "Desktop Browser Market Share in 2016"
        //         },
        //         data: [{
        //             type: "pie",
        //             startAngle: 25,
        //             toolTipContent: "<b>{label}</b>: {y}%",
        //             showInLegend: "true",
        //             legendText: "{label}",
        //             indexLabelFontSize: 16,
        //             indexLabel: "{label} - {y}%",
        //             dataPoints: [
        //                 { y: 51.08, label: "Chrome" },
        //                 { y: 27.34, label: "Internet Explorer" },
        //                 { y: 10.62, label: "Firefox" },
        //                 { y: 5.02, label: "Microsoft Edge" },
        //                 { y: 4.07, label: "Safari" },
        //                 { y: 1.22, label: "Opera" },
        //                 { y: 0.44, label: "Others" }
        //             ]
        //         }]
        //     });
        //     chartx.render();
        // });
 
    </script>
 
      
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
}
