@{
    ViewData["Title"] = "Home Page";
}

<h1>Sistema Escolar </h1>

<!-- Lista de Funcionalidades -->
<ul>
    <li>Cadastrar Alunos          ⌛  </li>
    <li>Visualizar Alunos Aprovados </li>
    <li>Transferência de Estudantes</li>
    <li>Imprimir Recibos</li>
    <li>Alertar Usuário sobre Multa</li>
    <li>Relatório Diário de Pagamentos</li>
    <li>Ensino Primário</li>
    <li>Ensino Secundário</li>
    <li>Ensino Pré-Universitário</li>  
    <li>Alerta para Estudantes com Dívidas:</li>
    <li>Backup Diário da Base de Dados:</li>
</ul>