@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="index" asp-controller="home">Dashboard</a></li> 
    </ol>
</nav>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body pb-0">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Pesquisar estudante pelo nome">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-light" type="button">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<h1>Sistema Escolar </h1>

<!-- Lista de Funcionalidades -->
<ul>
    <li>Cadastrar Alunos         ✅  </li>
    <li>Visualizar Alunos Aprovados  </li>
    <li>Transferência de Estudantes</li>
    <li>Imprimir Recibos</li>
    <li>Alertar Usuário sobre Multa</li>
    <li>Relatório Diário de Pagamentos</li>
    <li>Ensino Primário ✅ </li>
    <li>Ensino Secundário ✅ </li>
    <li>Ensino Pré-Universitário ✅ </li>
    <li>Alerta para Estudantes com Dívidas: ⌛ </li>
    <li>Backup Diário da Base de Dados:</li>
</ul>